.root{
    -icons-color: black;
}

.glyph {
    font-family: "FontAwesome";
    -fx-font-family: "FontAwesome";
    -fx-text-fill: -icons-color;
    -fx-fill: -icons-color;
    -glyph-size: 25px;
}

.source-mv-up {
    -glyph-name: "ARROW_UP";
}

.section-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
